


@media(min-width:700px) {

    /* POST HEADER */

    .singular:not(.overlay-header) .entry-header {
        background-color: transparent;
        background-image:$blog-page-bg-img;
        background-size:cover;
        background-repeat: no-repeat;
        padding: 0;
        padding-top: 15rem;
        padding-bottom: 20rem;

        .section-inner{

            margin-bottom: 3rem;
        }

    /* POST META */

        .post-meta, .entry-header-inner .post-meta a {
            color: #ffffff;
        }
    }

    /* POST TITLE */
    h1.entry-title {
        color: $post-heading-color;
    }

    h2.entry-title {
        color: $post-heading-color;
        a {
            color: $post-heading-color;
        }
    }

    /* POST INNER */

    .post-inner {
        padding: $post-padding;
        background-color: $post-content-bg;
        width: 100rem;
        margin: -20rem auto 3rem auto;
        padding: 6rem;
        box-shadow: $bottom-shadow;
    }

    /* POST IMAGE CONTAINER */

    .singular .featured-media {
        margin-top: 6rem;
        max-width: 100rem;
        margin: 0 auto;
        margin-top: -15rem;
        max-height: 30rem;
        overflow: hidden;
    }

    .singular .featured-media-inner {
        position: relative;
        left: 0;
        width: 100vw;
        max-width: 100rem;

    }

    /* POST IMAGE */

    .featured-media img {

        margin: 0 auto;
        width: 100%;
    }

   

    

}


